{{#if trendingWords}}

<section class="wordbook container">
	<div class="row d-flex align-items-stretch">

  {{#each trendingWords}}

		<!-- word card -->
		<div class="word-card col-lg-3 col-md-6 d-flex align-items-stretch">
			<div class="card" data="{{_id}}">
				<div class="view">
					<img src="{{image}}" class="img-word img-fluid" />
				</div>

				<div class="card-body">
					<h5 class="card-title">{{word}}</h5>
					<p class="card-text">{{meaning}}</p>
					{{#if saved}}
					<a href="#" class="unsave btn btn-blue-grey">Unsave</a>
					{{else}}
					<a href="#" class="save btn btn-info">Save</a>
					{{/if}}
				</div>
			</div>
		</div>

  {{/each}}

</div>
</section>

{{else}}

<section class="jumbotron row">
	<div class="col-md-12">
		<div class="text-white text-center py-5 px-4 my-5">
			<h1 class="card-title display-4 mb-3 mt-5 font-bold"><strong>Hello! I'm your note book!</strong></h1>
			<h4 class="mx-5 mb-5">Word book helps you learn trending words in English. </h4>
			<a class="scrape btn btn-outline-white px-5 py-3">Scrape Data!</a>
		</div>
	</div>
</section>

{{/if}}